.main-content {
  padding-left: 5%;
  padding-top: 10%;
}
.nav-wrapper img {
  padding: 1.125em 0em 0em 1.375em;
}
.prompt-header {
  width: 51%;
  font-family: "gilroylight";
  font-weight: 900;
  color: #3f3f3f;
  line-height: 1.25em;
  padding: 58px 0px 0px 26px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.25px;
}
.prompt-paragraph {
  padding: 37px 0px 0px 24px;
  font-family: gilroylight;
  line-height: 30px;
  font-size: 21px;
  letter-spacing: 0.25px;
  /* padding-bottom: 10px; */
  width: 46%;
}
.findTrialInputs {
  display: flex;
  padding: 45px 0px 0px 11px;
}
#findTrialButton {
  background-color: #223547;
  font-family: "gilroylight";
  height: 42px;
  width: 127px;
  border: 0;
  color: white;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 21px;
  margin: 0px 0px 0px 9px;
  text-transform: uppercase;
  transition: 0.3s background ease;
  z-index: 1;
}
#findTrialButton:hover {
  background: #1bd9c4;
}
#medicalConditionInput {
  padding: 1px 0px 0px 17px;
  margin: 0px 9px 0px 13px;
  width: 30em;
  height: 42px;
  border-radius: 21px;
  border: 0.05em solid #979797;
  font-size: 15px;
  font-weight: 500;
  font-family: "gilroylight";
  letter-spacing: 0px;
  z-index: 1;
}
#postalCodeInput {
  height: 42px;
  width: 134px;
  color: #828282;
  font-family: "gilroylight";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  border: 0.05em solid #979797;
  border-radius: 21px;
  padding: 0px 0px 0px 25px;
  z-index: 1;
}
.molecules {
  pointer-events: none;
  margin-top: -30%;
  margin-bottom: 6.3%;
  z-index: 0;
}
