/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*END OF CSS RESET*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
}
body {
  font-family: "Gilroy";
}
header {
  width: 1368px;
  height: 55px;
  margin: 25px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
header nav {
  padding: 22px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  width: 22.4%;
}
header nav a {
  text-decoration: none;
  color: #545454;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
header #findATrial {
  padding: 0px 0px 0px 0px;
}
header #about {
  padding: 0px 0px 0px 7px;
}
header #help {
  padding: 0px 0px 0px 0px;
}
.content {
  width: 71.25vw;
  margin: 0px 0px 0px 22px;
}
#searchContainer {
  width: auto;
  margin: 70px 0px 0px 0px;
  display: flex;
  border-bottom: #f3f3f3 2px solid;
}
#leftWhitespace {
  display: flex;
  width: 17%;
  border-right: solid #dddddd 1px;
  flex-flow: column;
}
#leftWhitespace a {
  color: #545454;
  text-decoration: none;
}
#searchResultsContainer {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  margin-left: 30px;
  width: 81.5%;
}
#resultsDescription {
  width: 100%;
  height: auto;
  position: relative;
}
#resultsDescription h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  padding: 0px 0px 0px 4px;
  letter-spacing: 0.2px;
}
#resultsDescription h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  bottom: 0px;
  float: left;
}
#totalTrialsFound {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 1px 9px 0px 0px;
  letter-spacing: 2px;
}
#totalTrialsText {
  padding: 9px 11px 0px 0px;
}
#totalTrialsText p {
  font-size: 21px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
}
.firstTrialContainer {
  width: 100%;
  height: 123px;
  padding: 22px 0px 24px 0px;
  display: flex;
  border-top: none;
}
.trialContainer {
  width: 100%;
  height: 123px;
  padding: 16px 0px 24px 0px;
  display: flex;
  border-top: #f3f3f3 2px solid;
}
.condition {
  width: 17.2%;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.condition p {
  padding: 9px 0px 0px 0px;
}
.studyTitle {
  width: 27%;
  overflow: auto;
  min-width: 15%;
}
.studyTitle h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 26px 0px 0px 0px;
  letter-spacing: 0.1px;
}
.studyLocation {
  display: flex;
  width: 28.2%;
  font-weight: 600;
  font-size: 18px;
}
.studyStatus {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
  margin-top: 6px;
}
.studyStatus p {
  margin-top: 6px;
}
.viewStudyButtonContainer {
  margin: 44px 0px 0px 73px;
  display: flex;
  justify-content: center;
}
.viewStudyButtonContainer a {
  text-decoration: none;
  height: 0px;
}
.viewStudyButtonContainer :hover div {
  transition: 0.2s;
  background-color: #1bd9c4;
  color: #ffffff;
}
.viewStudyButtonContainer :hover p {
  transition: 0.5s;
  background-color: unset;
}
#studyButtonContainer :hover div {
  transition: 0.2s;
  background-color: #1bd9c4;
}
#studyButtonContainer :hover div :first-child {
  color: #ffffff;
}
.viewStudyButton {
  height: 46px;
  width: 144px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223547;
  color: #ffffff;
}
.viewStudyButton p {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  background-color: unset;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  color: white;
}
.newStudyButton {
  height: auto;
  width: 83.7%;
  border-radius: 23px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 40px 0px 0px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}
.newStudyButton p {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 12px 0px 12.5px 0px;
  text-align: center;
}
#resultsDetails {
  position: relative;
  display: flex;
  margin: 40px 0px 0px 0px;
}
#resultsDetails h2 {
  margin: 3px 0px 0px 0px;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 0.2px;
}
#searchNavigator {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 90px;
  padding-bottom: 90px;
}
#searchNavigator nav {
  display: flex;
}
#searchNavigator nav a {
  margin-right: 50px;
  text-decoration: none;
  color: #323232;
  font-weight: bold;
}
#condition {
  flex-basis: 17%;
}
#studyTitle {
  flex-basis: 30%;
}
#closestStudyLocation {
  flex-basis: 25.4%;
}
#status {
  flex-basis: 9%;
}
.distance {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 0px 45px;
}
.distance h1 {
  font-size: 33px;
  font-weight: bold;
  padding: 7px 0px 5px 0px;
}
.distance p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.locationDetails {
  display: flex;
  flex-flow: column;
  padding: 7px 0px 0px 35px;
  line-height: 18px;
  justify-content: center;
  letter-spacing: 0.5px;
}
.locationDetails h2 {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0px 0px 4px 0px;
}
.locationDetails p {
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}
footer {
  width: 1368px;
  height: 55px;
  margin: 25px 0px 0px 6px;
}
.statusIcon {
  background-color: #1bd9c4;
  border-radius: 100%;
  width: 18px;
  height: 18px;
}
.defaultSpacer {
  margin: 0px 0px 0px 0px;
}
#contentContainer {
  margin: 73px 0px 0px 62px;
}
#resultsBackButton {
  height: auto;
  border-radius: 23px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 40px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}
#resultsBackButton p {
  font-size: 18px;
  font-weight: bolder;
  line-height: 21px;
  padding: 13px 0px 12px 0px;
}
#resultCondition {
  margin-right: 93px;
}
#resultsBackButtonContainer {
  width: 19.05%;
  margin-bottom: 50px;
}
#contentContainer a {
  text-decoration: none;
  color: #3f3f3f;
}
#introDetails {
  margin-bottom: 90px;
}
#introDetails p {
  font-size: 14px;
  align-self: center;
  color: #8e8e8e;
}
#introDetails h2 {
  letter-spacing: 1px;
  margin-bottom: 17px;
  font-weight: 900;
}
#introDetails h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 55px;
  padding-right: 41%;
  letter-spacing: 0.39px;
  margin-bottom: 16px;
}
#introDetails a {
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
  margin-bottom: 99px;
  color: #1bd9c4;
}
#recruitmentStatus {
  margin-bottom: 31px;
  display: flex;
}
#recruitmentStatus p {
  margin-left: 10px;
  font-weight: bolder;
}
#studyPurpose {
  margin-top: 99px;
}
#studyPurpose h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 20px;
  letter-spacing: 0px;
}
#studyPurpose p {
  font-size: 18px;
  font-weight: 900;
  line-height: 35px;
  padding-right: 5%;
  color: #3f3f3f;
}
#summaryAndReqs {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#summaryAndReqs h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 29px;
  letter-spacing: 0.4px;
}
#studyRequirements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 118px;
}
#goal {
  height: 110px;
  width: 211px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  margin-left: 82px;
}
#dates {
  height: 110px;
  width: 327px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  margin-left: 148px;
  margin-bottom: 69px;
}
#phase {
  height: 110px;
  width: 114px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  margin-left: 208px;
}
#condition {
  height: 110px;
  width: 25px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  flex-basis: 28.5%;
}
#interventions {
  height: 110px;
  width: 258px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  margin-left: 104px;
}
#placebo-YorN {
  height: 110px;
  width: 421px;
  border: 0.6px solid #223547;
  border-radius: 6px;
  margin-left: 89px;
}
#age {
  width: 15.8%;
  text-align: center;
  margin-top: 12px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 164px;
}
#age p {
  margin: 0px 0px 26px 0px;
}
#gender {
  height: 112px;
  width: 116px;
  text-align: center;
  margin-top: 13px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
#ageAndGenderContainer {
  display: flex;
  margin-left: 141px;
  margin-bottom: 51px;
}
#requirementsDescription {
  color: #3f3f3f;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 99px;
}
.rectangle {
  height: 5px;
  width: 30px;
  background-color: #3f3f3f;
  margin: 17px 37px 17px 27px;
}
.whereToParticipate {
  display: flex;
  flex-flow: column;
}
.whereToParticipate h1 {
  color: #3f3f3f;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0.4px;
  margin-bottom: 50px;
}
.whereToParticipate h2 {
  color: #223547;
  font-family: Gilroy;
  font-size: 26px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 32px;
}
.whereToParticipate h3 {
  color: #3f3f3f;
  font-family: Gilroy;
  font-size: 21px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.23px;
  margin-bottom: 46px;
}
.trialRecruitContainer {
  width: 100%;
  display: flex;
  margin-bottom: 99px;
}
.trialRecruitContainer .distance {
  padding: 0px 0px 0px 75px;
  width: max-content;
  justify-content: unset;
}
.trialRecruitContainer .distance h1 {
  display: flex;
  flex-flow: column;
  padding: 0px 0px 0px 0px;
  margin-bottom: 3px;
}
.trialRecruitContainer .locationDetails {
  padding: 0px 0px 0px 0px;
  margin-left: 80px;
}
.trialRecruitContainer .locationDetails h2 {
  margin: 0px 0px 11px 0px;
  padding-bottom: unset;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.trialRecruitContainer .locationDetails p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 2px 0px 5px 0px;
}
.trialRecruitContainer .studyStatus {
  margin: 0px 0px 4px 286px;
  height: 100%;
}
.trialRecruitContainer .studyStatus p {
  margin-top: 6px;
}
.trialRecruitContainer .studyStatus .statusIcon {
  margin-left: 1px;
}
.trialRecruitContainer .viewStudyButtonContainer {
  margin: 5px 0px 0px 234px;
  height: 46px;
  width: 20%;
  border-radius: 23px;
  background-color: #223547;
}
.trialRecruitContainer .viewStudyButton {
  padding: 0px 25.4px;
  width: auto;
}
#ageData {
  display: flex;
  margin-left: 14px;
}
#ageData h1 {
  margin: 0px 0px 0px 0px;
}
#firstResult {
  margin-bottom: 75px;
}
