.footer-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #DDDDDD;	
    
    img {
        padding: 17px 0px 0px 28px;
    }

    .footer-nav-bar {
        display: flex;

        a {
            align-items: center;
            padding: 0px 0px 0px 38px;
            /* margin: 0px 0px 0px 0px; */
            text-decoration: none;
            font-family: 'gilroylight';
            font-size: 1.4rem;
            color: #3F3F3F;
            font-weight: 900;
            line-height: 16px;
        }
    }
}

#facebookButton {

}